@page
@model List<WebProjectCloud.Models.FolderModel>


@functions {
    public IActionResult RedirToFolder(/*string folderName*/)
    {
        return Redirect("folderName");
    }
}
<div>
   <form method="post" asp-action="AddFolder" asp-controller="Folders">
       <h5>Добавить папку</h5>
       <input type="text" name="folderName" />
       <input type="submit" value="+" />
   </form>

   @foreach (var f in Model)
    {
        <div>
            <input type="text" name="folderName" value="@f.Name" readonly>
            <button onclick="RedirToFolder"></button>
        </div>
    }

    
</div>
