@model List<WebProjectCloud.Models.FileModel>
@{
    ViewData["Title"] = "Добавление файла";
}

<div>
    <form method="post" asp-action="AddFile" asp-controller="Home" enctype="multipart/form-data">
        <h1>Фотографии</h1>
        <input type="file" name="uploadedFile"/> <br />
        <input type="submit" value="Загрузить" />
    </form>

    <h3>Все файлы</h3>
    @foreach(var f in Model)
    {
        <form method="get" asp-action="GetFile" asp-controller="Home">
            <p>
                <img src="@Url.Content(f.Path)" />
                <input type="text" name="fileName" value="@f.Name" readonly>
                <input type="submit" value="Загрузить"/> </p>
        </form>
        
    } 

</div>
